name: Style Check
on: [push, pull_request]
permissions:
  contents: read
jobs:
  python-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ".[dev]"
      - name: Run isort
        run: isort --diff --check sphinxcontrib tests
      - name: Run yapf
        run: yapf --diff --recursive sphinxcontrib tests
      - name: Run mypy
        run: mypy sphinxcontrib tests --exclude tests/roots
      - name: Run flake8
        run: flake8 sphinxcontrib tests
