name: Style Check
on: [push, pull_request]
permissions:
  contents: read
jobs:
  python-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ".[dev]"
      - name: Run isort
        run: isort --diff --check sphinxcontrib tests
      - name: Run yapf
        run: yapf --diff --recursive sphinxcontrib tests
      - name: Run mypy
        run: mypy sphinxcontrib tests --exclude tests/roots
      - name: Run flake8
        run: flake8 sphinxcontrib tests
