name: Style Check
on: [push, pull_request]
permissions:
  contents: read
jobs:
  python-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ".[dev]"
      - name: Run isort
        run: isort --diff --check sphinxcontrib tests
      - name: Run yapf
        run: yapf --diff --recursive sphinxcontrib tests
      - name: Run mypy
        run: mypy sphinxcontrib tests --exclude tests/roots
      - name: Run flake8
        run: flake8 sphinxcontrib tests
